$width-info-cell: 4rem;
$width-cell: 12rem;

$height-header: 3.6rem;
$height-toolbar: 4rem;
$height-formula: 2.4rem;
$height-row: 2.4rem;
$height-dashboard-header: 6.4rem;

// COLOR
$color-dark: #000000;
$color-light: #ffffff;
$color-focus: #1a73e8;
$color-light-grey: #d4d3d3;
$color-grey: #666666;
$color-red: red;
$color-green: green;
$color-info-cell: #f8f9fa;
$color-border-cell: #e2e3e3;
$color-cell: #111111;
$color-outline-cell: #3c74ff;
$color-dashboard-new: #dadce0

