.excel__table {
  position: absolute;
  top: $height-header + $height-toolbar + $height-formula;
  left: 0;
  right: 0;
  overflow-x: auto;

  .row {
    display: flex;
    min-height: 2rem;
    height: $height-row;
  }

  .row-info {
    @include flex-center;
    min-width: $width-info-cell;
    height: 100%;
    border: 1px solid $color-light-grey;
    border-top: none;
    background-color: $color-info-cell;
  }

  .row-data {
    @include flex-center;
  }

  .column {
    @include flex-center;
    min-width: 4rem;
    width: $width-cell;
    height: 100%;
    padding-bottom: 2px;
    background-color: $color-info-cell;
    border: 1px solid $color-light-grey;
    border-top: none;
    border-left: none;
  }

  .cell {
    min-width: 4rem;
    width: $width-cell;
    padding: 0.5rem;
    color: $color-cell;
    white-space: nowrap;
    border: 1px solid $color-border-cell;
    border-top: none;
    border-left: none;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $color-outline-cell;
      z-index: 2;
    }
  }
}
