.excel__table {
  position: absolute;
  top: $height-header + $height-toolbar + $height-formula;
  left: 0;
  right: 0;
  overflow-x: auto;

  .row {
    display: flex;
    min-height: 2rem;
    height: $height-row;

    &-resize {
      @include resize-style;
      bottom: 0;
      left: 0;
      right: 0;
      height: 4px;
      cursor: row-resize;

      &:active {
        width: 100vw;
      }
    }
  }

  .row-info {
    position: relative;
    @include flex-center;
    min-width: $width-info-cell;
    height: 100%;
    border: 1px solid $color-light-grey;
    border-top: none;
    background-color: $color-info-cell;
    user-select: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    @include flex-center;
    min-width: 4rem;
    width: $width-cell;
    height: 100%;
    padding-bottom: 2px;
    background-color: $color-info-cell;
    border: 1px solid $color-light-grey;
    border-top: none;
    border-left: none;
    user-select: none;

    &-resize {
      @include resize-style;
      top: 0;
      bottom: 0;
      right: 0;
      width: 4px;
      cursor: col-resize;
      &:active {
        height: 100vh;
      }
    }
  }

  .cell {
    min-width: 4rem;
    width: $width-cell;
    padding: 0.5rem;
    color: $color-cell;
    white-space: nowrap;
    border: 1px solid $color-border-cell;
    border-top: none;
    border-left: none;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $color-outline-cell;
      z-index: 2;
    }
  }
}
